package it.infocert.eigor.model.core.enums;

public enum Untdid1001InvoiceTypeCode {

    // 1: Sign
    // 2: ID
    // 3: ShortDescription
    // 4: LongDescription
    #foreach( $row in $File )
    /**
     * Code ${row.ID}
     * <p>${row.ShortDescription}</p>
     * <p>${row.LongDescription}</p>
     */
    Code${row.ID}("${row.Sign}",${row.ID}, "${row.ShortDescription}", "${row.LongDescription}")#if($LastIndex==$row.RowIndex);#else,#end
    #end

    private String sign;
    private int code;
    private String shortDescritpion;
    private String longDescription;

    Untdid1001InvoiceTypeCode(String sign, int code, String shortDescritpion, String longDescription) {
        this.sign = sign;
        this.code = code;
        this.shortDescritpion = shortDescritpion;
        this.longDescription = longDescription;
    }

    @Override
    public String toString() {
        return super.toString() + " " + shortDescritpion;
    }

}
