<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>xx %d{mm:ss} [%-10thread] [%-5level] %msg - %logger%n</pattern>
        </encoder>
    </appender>

    <root level="off">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="it.infocert" level="off" />
    <logger name="com.infocert" level="off" />

</configuration>
