## ============================
#set( $ClassName = ${BTBGClassName} )
## ============================
package it.infocert.eigor.model.core.model;

import com.google.common.base.Preconditions;
import it.infocert.eigor.model.core.datatypes.*;
import it.infocert.eigor.model.core.enums.*;

import java.util.Objects;

/**
* ${BusinessTerm} (${ClassName})
* <p>${Description}</p>
*/
public class ${ClassName} extends AbstractBTBG {

    private final ${AttributeFQN} attribute;

    public ${ClassName}(final ${AttributeFQN} attribute) {
        this.attribute = Preconditions.checkNotNull( attribute );
    }

    @Override
    public String toString() {
        return attribute.toString();
    }

    @Override
    public int order() {
        return ${OrderInCEN};
    }

    public void accept(final Visitor v) {
        v.startBTBG(this);
        v.endBTBG(this);
    }

    @Override
    public boolean equals(Object o) {
        if (this == o) return true;
        if (!(o instanceof ${ClassName})) return false;
        ${ClassName} that = (${ClassName}) o;
        return Objects.equals(attribute, that.attribute);
    }

    @Override
    public int hashCode() {
        return Objects.hash(attribute);
    }
}
