package it.infocert.eigor.model.core.model;

public class CenStructureSource {

    protected static class Item {

        private final String btBg;
        private final String number;
        private final String parent;

        private Item(String btBg, String number, String parent) {
            this.btBg = btBg;
            this.number = number;
            this.parent = parent;
        }

        private Item(String btBg, String number) {
            this.btBg = btBg;
            this.number = number;
            this.parent = null;
        }

        public String getBtBg() {
            return btBg;
        }

        public String getNumber() {
            return number;
        }

        public String getParent() {
            return parent;
        }
    }

    protected final Item[] items;

    protected CenStructureSource() {

        items = new Item[${meta.count.rows}];
        #foreach($row in ${rows})

            // row ${row.meta.count}, coming from row ${row.meta.sourceCount}
            items[${row.meta.index}] = new Item("${row.data.BtOrBg}", "${row.data.Index}", "${row.data.ParentClass}");
        #end
    }

}