package it.infocert.eigor.model.core.enums;

import javax.xml.bind.annotation.XmlEnumValue;

public enum VatExemptionReasonsCodes {

    // 1: Code
    // 2: Value
    #foreach( $row in $rows )

        /**
         * ${row.data.Code}
         * <p>${row.data.Value}</p>
         */
        ${row.data.Code}("${row.data.Value}")#if($meta.count.lastIndex==$row.meta.index);#else,#end

    #end

    private String value;

    VatExemptionReasonsCodes(String value) {
        this.value = value;
    }

    public String value() {
        return value;
    }

    public static VatExemptionReasonsCodes fromValue(String v) {
        for (VatExemptionReasonsCodes c: VatExemptionReasonsCodes.values()) {
            if (c.value.equals(v)) {
                return c;
            }
        }
        throw new IllegalArgumentException(v);
    }

    @Override
    public String toString() {
        return "VatExemptionReasonsCodes{" +
                "value='" + value + '\'' +
                '}';
    }
}
