package it.infocert.eigor.model.core.enums;

public enum UnitOfMeasureCodes {

    #foreach($row in $rows)
        #if($row.data.Active == 1)
        /**
         * ${row.data.Alias}
         * <p>${row.data.CommonCode}</p>
         * <p>${row.data.Name}</p>
         * <p>${row.data.Description}</p>
         * <p>${row.data.Symbol}</p>
         * <p>${row.data.Annex}</p>
         */
        ${row.data.Alias}("${row.data.CommonCode}", "${row.data.Name}", "${row.data.Description}", "${row.data.Symbol}", ${row.data.Annex})#if($meta.count.lastIndex==$row.meta.index);#else,#end
        #end
    #end

    private String commonCode;
    private String name;
    private String description;
    private String symbol;
    private int annex;

    UnitOfMeasureCodes(String commonCode, String name, String description, String symbol, int annex) {
        this.commonCode = commonCode;
        this.name = name;
        this.description = description;
        this.symbol = symbol;
        this.annex = annex;
    }

    @Override
    public String toString() {
        return "UnitOfMeasureCodes{" +
                "commonCode='" + commonCode + '\'' +
                "| name='" + name + '\'' +
                "| description='" + description + '\'' +
                "| symbol='" + symbol + '\'' +
                "| annex=" + annex +
                '}';
    }

    public String getCommonCode() {
        return commonCode;
    }

    public String getName() {
        return name;
    }

    public String getDescription() {
        return description;
    }

    public String getSymbol() {
        return symbol;
    }

    public int getAnnex() {
        return annex;
    }
}