package it.infocert.eigor.model.it.infocert.eigor.model.core.enums;

public enum Iso31661CountryCodes {

    //1: EnglishName,
    //2: Alpha2Code
    //3: Alpha3Code,
    //4: NumericCode,
    #foreach( $row in $File )
    /** ISO informations for $row.EnglishName. */
    ${row.Alpha2Code}("${row.EnglishName}","${row.Alpha2Code}","${row.Alpha3Code}",${row.NumericCode})#if($LastIndex==$row.RowIndex);#else,#end
    #end


    private final String countryNameInEnglish;
    private final String iso2charCode;
    private final String iso3charCode;
    private final int index;

    Iso31661CountryCodes(String countryNameInEnglish, String iso2charCode, String iso3charCode, int index) {
        this.countryNameInEnglish = countryNameInEnglish;
        this.iso2charCode = iso2charCode;
        this.iso3charCode = iso3charCode;
        this.index = index;
    }
}