package it.infocert.eigor.model.core.enums;

public enum Untdid5189ChargeAllowanceDescriptionCodes {


    // 1: ID
    // 2: ShortDescription
    // 3: LongDescription
    #foreach( $row in $rows )
    /**
     * Code ${row.data.ID}
     * <p>${row.data.ShortDescription}</p>
     * <p>${row.data.LongDescription}</p>
     */
    Code${row.data.ID}(${row.data.ID},"${row.data.ShortDescription}","${row.data.LongDescription}")#if($meta.count.lastIndex==$row.meta.index);#else,

    #end
    #end

    private int code;
    private String shortDescritpion;
    private String longDescription;

    Untdid5189ChargeAllowanceDescriptionCodes(int code, String shortDescritpion, String longDescription) {
        this.code = code;
        this.shortDescritpion = shortDescritpion;
        this.longDescription = longDescription;
    }

    @Override
    public String toString() {
        return "Untdid5189ChargeAllowanceDescriptionCodes{" +
                "code=" + code +
                "| shortDescritpion='" + shortDescritpion + '\'' +
                "| longDescription='" + longDescription + '\'' +
                '}';
    }

    public int getCode() {
        return code;
    }

}
