<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>x %d{mm:ss} elpsd:%8.8relative | %-20(%level %marker) | %20.20thread | %msg | \(%file:%line\) | %logger | %n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <root level="off">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="it.infocert.eigor.api.xml" level="off" />
    <logger name="it.infocert.eigor.api.xml.XSDValidator" level="off" />
    <logger name="it.infocert.eigor.api.SchematronValidator" level="off" />
    <logger name="it.infocert.eigor.api.io" level="off" />

    <logger name="it.infocert.eigor.LowLevelAPIUsage" level="off" />

    <logger name="com.helger.commons.xml.ls" level="off" />
    <logger name="it.infocert.eigor.api.xml.CachedResourceResolver" level="off" />
    <logger name="it.infocert.eigor.LowLevelAPIUsage" level="off" />

    <!-- this one spits out an exception stack trace at ERROR level every time a sch validation fails. -->
    <logger name="com.helger.jaxb.validation.LoggingValidationEventHandler" level="off" />

    <!--
    <logger name="it.infocert" level="error" />
    -->

</configuration>