package it.infocert.eigor.model.core.enums;

public enum Iso31661CountryCodes {

    //1: EnglishName,
    //2: Alpha2Code
    //3: Alpha3Code,
    //4: NumericCode,
    #foreach( $row in $rows )
    /** ISO informations for $row.data.EnglishName. */
    ${row.data.Alpha2Code}("${row.data.EnglishName}","${row.data.Alpha2Code}","${row.data.Alpha3Code}",${row.data.NumericCode})#if($meta.count.lastIndex==$row.meta.index);#else,#end
    #end


    private final String countryNameInEnglish;
    private final String iso2charCode;
    private final String iso3charCode;
    private final int index;

    Iso31661CountryCodes(String countryNameInEnglish, String iso2charCode, String iso3charCode, int index) {
        this.countryNameInEnglish = countryNameInEnglish;
        this.iso2charCode = iso2charCode;
        this.iso3charCode = iso3charCode;
        this.index = index;
    }

    public int getIndex() {
        return index;
    }

    public String getCountryNameInEnglish() {
        return countryNameInEnglish;
    }

    public String getIso2charCode() {
        return iso2charCode;
    }

    public String getIso3charCode() {
        return iso3charCode;
    }
}