package it.infocert.eigor.model.core.enums;

public enum VatExemptionReasonsCodes {

    // 1: Sign
    // 2: ID
    // 3: ShortDescription
    // 4: LongDescription
    #foreach( $row in $File )
        /**
         * ${row.Code}
         * <p>${row.Description}</p>
         * <p>${row.Explanation}</p>
         * <p>${row.ApplicationGuideline}</p>
         */
        ${row.Code}("${row.Description}", "${row.Explanation}", "${row.ApplicationGuideline}")#if($LastIndex==$row.RowIndex);#else,#end
    #end

    private String description;
    private String explanation;
    private String applicationGuideline;

    VatExemptionReasonsCodes(String description, String explanation, String applicationGuideline) {
        this.description = description;
        this.explanation = explanation;
        this.applicationGuideline = applicationGuideline;
    }

    @Override
    public String toString() {
        return super.toString() + " " + description;
    }
}
