package it.infocert.eigor.model.it.infocert.eigor.model.core.enums;

public enum Untdid7161SpecialServicesCodes {

    // 1 - PlusSign,
    // 2 - Code,
    // 3 - ShortDesc,
    // 4 - LongDesc
    #foreach( $row in $File )
        /** ${row.ShortDesc}. */
    ${row.Code}(#if(${row.PlusSign.equals("+")}) true #else false #end,"${row.ShortDesc}", "${row.LongDesc}")#if($LastIndex==$row.RowIndex);#else,#end
    #end

    private boolean hasPlusSign;
    private String shortDescritpion;
    private String longDescription;

    Untdid7161SpecialServicesCodes(boolean hasPlusSign, String shortDescritpion, String longDescription) {
        this.hasPlusSign = hasPlusSign;
        this.shortDescritpion = shortDescritpion;
        this.longDescription = longDescription;
    }

    public String toDetailedString() {
        return String.format("%s%s|%s|%s", (this.hasPlusSign ? "+":""), super.toString(), shortDescritpion, longDescription);
    }

    @Override
    public String toString() {
        return super.toString() + " " + shortDescritpion;
    }
}
